body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('prueba_fondo.jpeg');
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#inicio img {
    width: 200px;
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

button {
    background-color: #ff6600; /* Naranja Sinergy */
    border: 2px solid #ff6600;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.oculto {
    display: none;
}

#pregunta {
    font-size: 1.5rem;
    margin: 10px auto;
    padding: 20px;
    background: white;
    color: black;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 3rem;
    color: #ff6600;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
    border-radius: 10px;
}
#opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    background: orange;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 50%;
    cursor: pointer;
    border: none
}

#comodines button {
    background: #ffaa00;
}

#temporizador, #puntaje {
    font-size: 1.2rem;
    margin-top: 20px;
}
