body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('ImagenJPEG/WhatsApp\ Image\ 2025-03-13\ at\ 13.31.55.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

#inicio img {
    width: 200px;
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

button {
    /* background-color: #ff6600; */ /* Naranja Sinergy */
    background-image: url('ImagenJPEG/prueba_fondo.jpeg');
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.oculto {
    display: none;
}

#pregunta {
    font-size: 1.5rem;
    margin: 10px auto;
    padding: 20px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 3rem;
    color: #ff6600;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
    border-radius: 10px;
}

#opciones {
    
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.grid-opciones {
    display: grid;
    gap: 10px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.opcion {
    background: orange;
    color: black;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#comodines button {
    background: #ffaa00;
}

#temporizador, #puntaje {
    font-size: 1.2rem;
    margin-top: 20px;
}
#btnEmpezar {
    font-weight: bold;   
}
#btn5050 {
    background-image: url('./imgBotones/dado.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

#btnLlamada {
    background-image: url('./imgBotones/dado.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

#btnAyudaAleatoria1 {
    background-image: url('./ImagenJPEG/casino.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

#btnAyudaAleatoria2 {
    background-image: url('./ImagenJPEG/casino.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}
/* #btnComite {
    background-image: url('./imgBotones/audiencia.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}
#btnSGSST {
    background-image: url('./imgBotones/seguridad.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 50px;
} */